<h1>配送先編集</h1>

<div>
    <%= form_with model: @address, url: edit_customers_address_path, local: true do |f| %>
        <p>郵便番号（ハイフンなし）</p>
        <%= f.text_field :postal_code %>
        <p>住所</p>
        <%= f.text_field :address %>
        <p>宛名</p>
        <%= f.text_field :name %>
        <%= f.submit "編集する", class: "btn-sm btn-primary" %>
    <% end %>
</div>