<div class="row mx-0">
  <div class="col-lg-2">
       <%= render 'customers/sidebar', genres: @genres %>
  </div>

  <div class="col-lg-10 px-4">

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>


    <!--model(Bootstrap)-->
    <!--< % if :devise_controller? %>-->
    <% unless (params[:order_sort] == "1") || customer_signed_in? %>
      <div class="modal in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block; padding-left: 0px;">
        <div class="modal-dialog center-modal" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <p>ようこそ、NaganoCakeへ！</br>
                 このサイトは、ケーキ販売のECサイトになります。</br>
                 会員でない方も商品の閲覧はできますが、</br>
                 購入には会員登録が必要です。</p>
            </div>
          </div>
        </div>
      </div>
      <script>
      $(window).on('load',function(){
          $('#myModal').modal('show');
      });
      </script>
    <% end %>
    <!--< % end %>-->



    <div class="row">
      <div class="col-lg-10">
        <div class="row ml-0">
           <%= image_tag 'top.jpeg',class: "image", width: "600px" %>
        </div>

        <h3><b>オススメ商品</b></h3>
          <div class ="row flex-row">

              <% @items.each do |item| %>
                <%= link_to customers_item_path(item) do %>
                  <div class="m-3">
                    <%= attachment_image_tag item, :image, format: 'jpeg', fallback: "no_image.jpg", size: "200x125" %><br>
                    <%= item.name %><br>
                    ¥<%= syouhizei(item.price)%>
                  </div>
                <% end %>
              <% end %>
              <%= link_to "もっと見る>", customers_items_path, class: "col-lg-12 text-right" %>

          </div>
      </div>
    </div>
  </div>
</div>


