<div class="row mx-0">
  <div class="col-lg-2">
    <div class ="row">
       <%= render 'customers/sidebar', genres: @genres %>
    </div>
  </div>

  <div class="col-lg-10 px-4">

    <!--model(Bootstrap)-->
      <div class="modal in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block; padding-left: 0px;">
        <div class="modal-dialog center-modal" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <p>ようこそ、NaganoCakeへ！</br>
                 このサイトは、ケーキ販売のECサイトになります。</br>
                 会員でない方も商品の閲覧はできますが、</br>
                 購入には会員登録が必要です。</p>
              <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            </div>
          </div>
        </div>
      </div>
      <script>
      $(window).on('load',function(){
          $('#myModal').modal('show');
      });
      </script>

    <div>
      <%= image_tag 'top.jpeg',class: "image", width: "600px" %>
    </div>

    <h3><b>オススメ商品</b></h3>
    <div>
      <div class ="row flex-row">
        <% @items.each do |item| %>
          <%= link_to customers_item_path(item) do %>
          <div class="m-3">
            <%= attachment_image_tag item, :image, format: 'jpeg', fallback: "no_image.jpg", size: "200x125" %><br>
            <%= item.name %><br>
            ¥<%= item.price %>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="text-right">
        <%= link_to "もっと見る>", customers_items_path %>
      </div>
    </div>
  </div>
</div>


