 <p>Customers::Homes#top</p>

<div>
  <%= render 'customers/sidebar', genres: @genres %>
</div>

<div>
  <!--js使ったポップアップかも-->
  <p>ようこそ、NaganoCakeへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧はできますが、<br>
  購入には会員登録が必要です。</p>
</div>

<h2>オススメ商品</h2>
<div>
 <% @items.each do |item| %>
    <%= link_to customers_item_path(item) do %>
    <div>
     <%= attachment_image_tag item, :image, format: 'jpeg', fallback: "no_image.jpg", size: "200x100" %><br>
     <%= item.name %>
     <%= item.price %>
    </div>
    <% end %>
 <% end %>
</div>

<%= link_to "もっと見る", customers_items_path %>

<%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>