<h1>ジャンル一覧・追加</h1>

<%= form_with model: @genre, local:true do |f| %>
  <div>
    <%= f.label :ジャンル %>
    <%= f.text_field :name %>
    <%= f.radio_button :is_active, :true %>
    <%= f.label :is_active, "有効" %>
    <%= d.radio_button :is_active, :false %>
    <%= f.label :is_active, "無効" %>
    <%= f.submit "追加" %>
  </div>
<% end %>
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>状態</th>
      <th colspan="2"></th>
    </tr>
    
  </thead>

  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td>
          <%= genre.name %>
        </td>
        <td>
          <%= genre.body %>
        </td>
        <td>
          <% if genre.is_active == true %>
            有効
          <% else %>
            無効
          <% end %>
        </td>
        <td>
          <%= link_to '編集する', edit_admins_genre_path(genre.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>