<div class="row">
  <h3>マイページ</h3>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

  <label><b>登録情報</b></label>
  <%= link_to "編集する",edit_customers_customer_path %>
  <!--遷移が変/ログインの判定のせいかも-->
  <%= link_to "パスワードを変更する",new_customer_password_path(order_sort: 0) %>

    <table>
      <tr>
        <td>氏名</td>
        <td><%= @customer.last_name %><%= @customer.first_name %></td>
      </tr>
      <tr>
        <td>カナ</td>
        <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
    </table>

  <div>
    <label><b>配送先</b></label>
    <%= link_to "一覧を見る",customers_addresses_path %><br>
  </div>

  <div>
    <label><b>注文履歴</b></label>
    <%= link_to "一覧を見る",customers_orders_path %>
  </div>
</div>

