<div class="row">
  <div class="ml-5">
    <h3 class="customer-page-title">会員一覧</h3>
  </div>
</div>

<div class="customer-table-group mx-auto">
  <table class='table table-hover table-inverse'>
    <thead class="thead-light">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td>
            <%= link_to admins_customer_path(customer) do %> <!--会員詳細ページへ-->
              <%= customer.last_name + customer.first_name %>
            <% end %>
          </td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_deleted == false %> <!--defaultはfalse-->
              有効
            <% else %>
              退会済
            <% end %>
          </td>
        </tr>
        <%= paginate @customers %>
      <% end %>
    </tbody>
  </table>
</div>