<div class="row">
  <h3 class="customer-show-page-title"><%= @customer.last_name + @customer.first_name %>さんの会員情報</h3>
</div>
<div class="customer-show-table-group">

  <table>

    <tr>
      <th>顧客ID</th>
      <td>
        <%= @customer.id %>
        <% if @customer.is_deleted == false %>
          <i class="bg-success customer-status">有効会員</i>
        <% else %>
          <i class="bg-danger customer-status">退会済</i>
        <% end %>
      </td>
    </tr>

    <tr>
      <th>氏名</th><td><%= @customer.last_name + " " +@customer.first_name %></td>
    </tr>

    <tr>
      <th>フリガナ</th><td><%= @customer.last_name_kana + " "+ @customer.first_name_kana %></td>
    </tr>
    <tr>
      <th>郵便番号</th><td><%= @customer.postal_code %></td>
    </tr>

    <tr>
      <th>住所</th><td><%= @customer.address %></td>
    </tr>

    <tr>
      <th>電話番号</th><td><%= @customer.telephone_number %><td>
    </tr>

    <tr>
      <th width="150">メールアドレス</th><td><%= @customer.email %></td>
    </tr>

    <tr>
      <td><%= link_to '編集する', edit_admins_customer_path(@customer), class: 'btn btn-primary text-white mt-3' %></td>
      <td><%= link_to '注文履歴一覧を見る', admins_orders_path(id: @customer.id, order_sort: 1), class: 'btn btn-primary text-white mt-3' %></td>
    </tr>

  </table>
</div>