<div class="container">
  <div class="row">
      <div class="pb-1 offset-md-4">
        <h3 class="admins-session-title">管理者ログイン</h3>
      </div>
  </div>

  <div class="admins-session-form">
    <table>
      <tr>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="admins-session-form-email">
            <th><%= f.label :メールアドレス, class: "admins-session-form-title" %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 30, class: "admins-session-form-title" %></td>
          </div>
      </tr>

      <tr>
          <div class="admins-session-form-password">
            <th><%= f.label :パスワード, class: "admins-session-form-title" %></th>
            <td><%= f.password_field :password, autocomplete: "current-password", size: 30, class: "admins-session-form-title" %></td>
          </div>
      </tr>
    </table>



        <div class="admins-session-form-btn">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--以下使うかわからないためコメントアウト-->

  <%# if devise_mapping.rememberable? %>
    <!--<div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    <!--</div>-->
  <%# end %>



<%#= render "admins/shared/links" %>