<h3>商品詳細</h3>

    <div class="">
      <%= attachment_image_tag @item, :image, size: '100x100', fallback: 'no_image_square.jpg', size: '100x100' %>
    </div>
    
    <div class="">商品名</div>
    <div><%= @item.name %></div>
    
    <div class="">商品説明</div>
    <div><%= @item.introduction %></div>
    
    <div class="">ジャンル</div>
    <div><%= @item.genre.name %></div>
    
    <div class="">税込価格（税抜き価格）</div>
    <div><%= @item_including_tax %>（<%= @item.price %>）</div>
    
    <div class="">販売ステータス</div>
    <div><%= @item.is_active %></div>
    
    <div>
        <%= link_to "編集する", edit_admins_item_path %>
    </div>