<h1>会員側/商品一覧ページ</h1>
<p>Customers::Items#index</p>

<!--部分テンプレート化-->
<h3>ジャンル検索</h3>
<%= @genres.each do |genre| %>
  <%= link_to genre.name, "#" %>
<% end %>

<h2>商品一覧</h2>
<p>全<%= @items.count %>件</p>

<!--kaminariの記述-->
<div>
　<%= @items_paginate.each do |item| %>
　  <%= attachment_image_tag item, :item_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x200" %>
　  <%= item.name %>
　  <%= item.price %>
　<% end %>
</div>
<%= paginate @items_paginate %>

