<div class ="row">
  <div class ="col-xs-2">
    <%= render 'customers/sidebar', genres: @genres %>
  </div>

  <div class ="col-xs-10">
    <div>
      <%= attachment_image_tag @item, :image, format: 'jpeg', fallback: "no_image.jpg", size: "300x150" %>
      <div>
         <b><%= @item.name %></b><br>
      　<%= @item.introduction %><br>
      　<b>¥<%= syouhizei(@item.price)%></b>(税込)
      </div>
    </div>

    <%= form_with model: @cart_item, url: customers_cart_items_path, method: :get,  local: true do |f| %>
      <!--hidden_fieldの安全性に関して未検討("hiddenは利用者からの書き換えはできますが、それ以外からの書き換えに対しては堅牢"と記述された記事あり。)-->
      <%= f.hidden_field :item_id, :value => @item.id %>

      <% if customer_signed_in? %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <% end %>

      <div>
        <%= f.select :amount, {"1": 1, "2": 2, "3": 3}, include_blank: "個数選択"  %>
      </div>
      <%= f.submit "カートに入れる" %>
    <% end %>
  </div>
</div>

