<h1>会員側/商品詳細ページ</h1>
<p>Customers::Items#show</p>

<!--部分テンプレート化-->
<h3>ジャンル検索</h3>
<%= render 'customers/sidebar', genres: @genres %>

<div>
  <%= attachment_image_tag @item, :image, format: 'jpeg', fallback: "no_image.jpg", size: "300x150" %>
  <div>
     <b><%= @item.name %></b><br>
  　<%= @item.introduction %><br>
  　<b>¥<%= syouhizei(@item.price)%></b>(税込)
  </div>
</div>

<%= form_with model: @cart_item, url: customers_cart_items_path, local: true do |f| %>
  <div>
    <%= f.select :amount, {"1": 1, "2": 2, "3": 3}, include_blank: "個数選択"  %>
  </div>
  <%= f.submit "カートに入れる" %>
<% end %>

