<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class ="row">
      <p><span class="bg-origin pl-4 pr-4">会員の方はこちらからログイン</span></p>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class ="row field mb-2">
        <div class="col-lg-1"></div>
        <%= f.label :メールアドレス, class: "col-lg-2" %>
        <%= f.email_field :email, :placeholder => "test@test.com", autofocus: true, autocomplete: "email", class: "col-lg-9" %>
      </div>

      <div class ="row field mb-2">
        <div class="col-lg-1"></div>
        <%= f.label :パスワード, class: "col-lg-2" %>
        <%= f.password_field :password, :placeholder => "pass1234", autocomplete: "current-password", class: "col-lg-9" %>
      </div>

      <div class ="row kasen">
        <%= link_to "=>パスワードを忘れた方はこちら", new_customer_password_path, class: "col-lg-12 text-right pr-0" %>
      </div>

      <div class ="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-9 pl-0">
          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-primary pl-3 pr-3" %>
          </div>
        </div>
      </div>
    <% end %>

    <div class ="row">
       <p><span class="bg-origin pl-4 pr-4">登録がお済みでない方</span></p>
    </div>
    <div class ="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-11">
         <span class="kasen mr-3"><%= link_to "こちら", new_customer_registration_path %></span>から新規登録を行ってください。
      </div>
    </div>
  </div>

</div>


