<p><b>会員の方はこちらからログイン</b></p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <p><span><%= link_to "=>パスワードを忘れた方はこちら", new_customer_password_path %></span>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<p><b>登録がお済みでない方</b></p>
<p><span><%= link_to "こちら", new_customer_registration_path %></span>    から新規登録を行ってください。</p>
