<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <nav class="bg black">
      <%= link_to "LOGO", root_path, class: "navbar navbar-left bg-left"%>
    </nav>
    <nav>
      <ul class="navbar navbar-left bg-left">
        <% unless customer_signed_in? %>
          <li><%= link_to 'About', customers_homes_about_path, class: 'btn btn-default' %></li>
          <li><%= link_to '商品一覧', customers_items_path, class: 'btn btn-default' %></li>
          <li><%= link_to '新規登録', new_customer_registration_path, class: 'btn btn-default' %></li>
          <li><%= link_to 'ログイン', new_customer_session_path, class: 'btn btn-default' %></li>
        <% else %>
          <p class="navbar-text">ようこそ、<%= current_customer.last_name %> さん。</p>
          <li><%= link_to 'マイページ', customers_my_page_path(current_customer), class: 'btn btn-default' %></li>
          <li><%= link_to '商品一覧', customers_items_path, class: 'btn btn-default' %></li>
          <li><%= link_to 'カート', customers_cart_items_path, class: 'btn btn-default' %></li>
          <li><%= link_to "ログアウト",  destroy_customer_session_path, method: :delete, class: 'btn btn-default' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
