<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <% if request.fullpath.include?("admin") %>
        <%= render 'layouts/admins_header' %>
      <% else%>
        <%= render 'layouts/customers_header' %>
      <% end %>
    </header>
    
    <main class="main">
      <div class ="container-fluid">
        <%= yield %>
      </div>
    </main>

    <footer class="footer">
      <div class ="container-fluid">
        <p class="text-lg-right mt-5 mr-5">© nagano-cake</p>
      </div>
    </footer>
  </body>

</html>
